@import "tailwindcss";
@theme {
  --color-gray-10: #f5f5f5;
  --color-secondary-10: #db4444;
  --color-star-10: #ffad33;
}

body {
  min-height: 100vh;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
